.rowHeader {
	font-weight: bold;
}

.thumb {
	width: 150px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#mainTable {
	margin-right: .5%;
}

#vidTable {
	float: left;
}

#vidTable td {
	padding: 5px;
}

#video {
	margin: 10px;
	width: 96%;
}

#vidContainer {
	margin-left: 15px;
}

#blah {
	position: fixed;
	top: 0px;
}

#vidTitle {
	font-weight: bold;
	font-size: 48px;
	font-size: 2.5vw;
}

#vidOriginal {
	font-style: italic;
	font-size: 15px;
	font-size: .6vw;
}

#vidDescription {
	font-size: 20px;
	font-size: .8vw;
}